<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flask.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
            namespace = '/flask';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
                //куки отсутствуют и создаём новые для каждого пользователя
            if(!getCookie('Player')) {
                socket.emit('createPlayer', innerWidth, innerHeight);
                socket.on('returnPlayers', function (players) {    
                    if (!getCookie('userName')) {
                        keys = Object.keys(players).length - 1;
                        createCookie(Object.keys(players)[keys]);
                    }
                    newB(players);
                });
            } else {
                socket.emit('createPlayer', innerWidth, innerHeight);
                socket.on('returnPlayers', function (players) {    
                    newB(players);
                });
            }
            function getCookie(name) {
                var matches = document.cookie;
                return matches ? decodeURIComponent(matches[name]) : false;
            }
            function createCookie(name) {
                document.cookie = name;
            }
             //добавить взятие игроков из бэка
            
            setInterval(function()
            {
                onkeydown = function (e) {
                    var k = e.keyCode;
                    if ([38,39,40,37].indexOf(k) >= 0); e.preventDefault();
                    //Вправо
                    if (k == 39){
                        d = 1;
                        socket.emit('changeMove', d, document.cookie, innerWidth, innerHeight);
                    } 
                    //Вниз
                    if (k == 40){
                        d = 2; 
                        socket.emit('changeMove', d, document.cookie, innerWidth, innerHeight);
                    }
                    //Влево
                    if (k == 37){
                        d = 3; 
                        socket.emit('changeMove', d, document.cookie, innerWidth, innerHeight);
                    } 
                    //Вверх
                    if (k == 38){
                        d = 4; 
                        socket.emit('changeMove', d, document.cookie, innerWidth, innerHeight);
                    } 
                    socket.on('returnChangeMove', function (Players) {
                        newB(Players);
                    });
                };

                socket.emit('changeMove', d, document.cookie, innerWidth, innerHeight);
                socket.on('returnChangeMove', function (Players) {
                    newB(Players);
                });
                socket.emit('createAppleOrUpdate', innerWidth, innerHeight);
                socket.on('returnAppleCoordinates', function (coordinatApple) {
                    if (coordinatApple != 'false') {
                        newA(coordinatApple[0], coordinatApple[1]);
                    }
                });
            }, 250);
    </script>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="divprimer"></div>
    <canvas id="gP">Не поддерживается html5</canvas>
    <script src="{{ url_for('static', filename='js/snake.js') }}"></script>
</body>
</html>